

.alert{
    max-width: 400px;
    margin:auto;
    margin-top: 10vh;
    font-weight:bolder;
    position: relative;
}

.primary-alert{
background-color: rgb(19, 118, 248);
padding: 3px;
border-radius: 0.5rem;

}

.secondary-alert{
background-color: lightgray;
padding: 3px;
border-radius: 0.5rem;
}

.warning-alert{
background-color: orange;
color: orangered;
padding: 3px;
border-radius: 0.5rem;
}

.error-alert{
    background-color: tomato;
    color: darkred;
    padding: 3px;
    border-radius: 0.5rem;
}

.link-alert{
background-color: burlywood;
padding: 3px;
border-radius: 0.5rem;
}
.success-alert{
background-color: lightgreen;
color: darkgreen;
padding: 3px;
border-radius: 0.5rem;
}
  .close-btn{
  margin-left: 15px;
  color: black;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
  }

  .close-btn:hover{
      background-color: gray;
  }
  .heading-content{
    text-align: center;
}

.para-content{
    text-align: center;
    font-size:20px;
    max-width: 800px;
    margin: auto;
    margin-bottom: 5vh;
    margin-top: 2vh;
}

iframe{
    max-width: 500px;
    max-height: 400px;
    margin: auto;
    display: block;
    margin-bottom: 5vh;

}
:root{
    --primary-color:rgb(33, 45, 68);
}
.navigation-container{
    padding-left: 1rem;
    padding-right: 1rem;
    background-color:rgb(33, 45, 68) ;
    padding: 1rem;
    border-top-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}
.active-link{
    font-weight:bolder;
    font-size: x-large;
}




.header{
    text-align:center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: var(--header-color);
    font-size:xx-large;
}

.brand{
  color: white;  
}

.non-bullet{
    list-style: none;
}
.inline{
    display: inline;
}
.margin{
    margin:1rem;
    text-decoration: none;
    color: white;
    font-size: large;
}
.brand{
    font-size: x-large;
    font-weight: bold;
}
.navigation{
    background-color:var(--primary-color);
    color: white;
    padding: 1rem;
    border-bottom-left-radius: 1rem;
    margin: auto;
}
  .nav-links{
    text-decoration: none;
    color: white;

  }  

.nav-right{
    text-align: right;
}

.footer{
    background-color:var(--primary-color);
    text-align: center;
    padding:2rem 1rem;
    color:white;
    border-top-right-radius: 1rem;
border:2rem 2rem;

}


.link{
   color:white;
   box-sizing:border-box;
   border:1px solid var(--primary-color);
   max-width: 85%;
   border-radius: 2rem;
   padding:0.5rem 1rem;
   text-decoration: none;  
   background-color: var(--primary-color);

}

.footer-header{
    font-size: x-large;
    font-weight: bolder;
    
}
.git{
    text-decoration: none;
    color: white;
}
.social-links{
    text-align: center;
    
    padding:1rem;
box-sizing: border-box;

    font-weight: x-large;
    font-size: bold;
    
}
.footer ul{
    padding-inline-start: 0px;

}

