<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="alert.css" rel="stylesheet"/>
</head>
<body>
    <!--primary alert-->
    <div class="alert">
        <div class="primary-alert">
        <button class="close-btn">&times;</button>
    <p>This is a primary alert</p>
    </div> 
</div>

    <!--secondary alert-->
    <div class="alert">
        <div class="secondary-alert">
        <button class="close-btn">&times;</button>
        <p>This is a secondary alert</p>
    </div>
</div>

     <!--error alert-->
    <div class="alert">
        <div class="error-alert">
        <button class="close-btn">&times;</button>
   <p> <Strong>Error!</Strong>This is an error alert</p>  
</div>  
</div> 

    <!--success alert-->
    <div class="alert">
        <div  class="success-alert">
        <button class="close-btn">&times;</button>
    <p><Strong>Success!</Strong>This is a success alert</p>
    </div> 
    </div>

    <!--alert with link-->
    <div class="alert">
        <div class="link-alert">
        <button class="close-btn">&times;</button>
      <p><Strong>Info!</Strong><a href="img.html">click here!</a> to read more</p>
    </div> 
</div>

    
    <!--warning alert-->
    <div class="alert">
        <div class="warning-alert">
        <button class="close-btn">&times;</button>
       <p> <Strong>Warning!</Strong>This is a warning alert</p>
    </div> 
</div>

</body>
</html>