<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="avatar.css" rel="stylesheet"/>
</head>
<body>
    <!--text avatars--> 
    <div>
   <div class="avatar">
       <div class="avatar-small">AA</div>    
   </div>
   <div class="avatar">
    <div class="avatar-medium">BB</div>    
</div>
<div class="avatar">
    <div class="avatar-large">VJ</div>    
</div>
<div class="avatar">
    <div class="avatar-xtralarge">RJ</div>    
</div>
</div>
   
   <!--round avatars-->
   <div>
   <div class="avatar">
    <img class="avatar-small" src="avatar1.jpg"/>
    </div>    

    <div class="avatar">
        <img class="avatar-medium" src="avatar1.jpg"/>
    </div> 

    <div class="avatar">
            <img class="avatar-large" src="avatar1.jpg"/>
    </div> 

    <div class="avatar">
                <img class="avatar-xtralarge" src="avatar1.jpg"/>
    </div>  
</div>


   
   <!--square avatars-->
   <div>
   <div class="avatar">
    <img class="avatar-small-square" src="avatar1.jpg"/>  
</div>
<div class="avatar">
    <img class="avatar-medium-square" src="avatar1.jpg"/>  
</div>
<div class="avatar">
    <img class="avatar-large-square" src="avatar1.jpg"/>  
</div>
<div class="avatar">
    <img class="avatar-xtralarge-square" src="avatar1.jpg"/>  
</div>
</div>
</body>
</html>