
<title>Document</title>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href="badge.css" rel="stylesheet"/>
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'> 

</head>
<body>
    <button class="icon-button">
        <span class="material-icons">notifications</span>
        <span class="icon-button__badge">2</span>
      </button>

      <button class="icon-button">
        <span class="material-icons">person_outline</span>
        <span class="person__badge">+6</span>
      </button>
      
      <button class="icon-button">
        <span class="material-icons">home</span>
        <span class="home__badge">2</span>
      </button>

      <button class="icon-button">
        <span class="material-icons">call</span>
        <span class="call__badge">2</span>
      </button>

      <button class="icon-button">
        <span class="material-icons">mail_outline</span>
        <span class="mail__badge">2</span>
      </button>
      
      <button class="icon-button">
        <span class="fa fa-music"></span>
        <span class="music__badge">2</span>
      </button>
      <div>
    <div class="icon-button">

     <span class="avatar"><img class="avatar-medium" src="badge-image.jpg"/></span> 
    <span class="inactive__badge"></span>
    </div> 
        
    <div class="icon-button">

        <span class="avatar"><img class="avatar-medium" src="badge-image.jpg"/></span> 
       <span class="active__badge"></span>
       </div>
</body>
</html>