<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="card.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <h1 class="content">card component</h1>
    <p></p>
    <!--badge card-->
    <div class="container">
        <div class="badge-card">
            <img src="/utilities/sofa.jpg">
            <h2>Stylish Blue Sofa</h2>
            <p class="badge">#1 Best Seller</p>
            <p>Ships in 3-4 days</p>
            <p class="price">15,000/-</p>
            <button class="save-button">Save</button>
            <button class="buy-button">Buy</button>
        </div>
    </div>
    <!--text only card-->
<div class="container">
    <div class="text-only-card">
        <div class="card-body">
        <h2>Hot Air Balloon Festival</h2>
        <p>Turkey’s most popular hot-air ballooning destination, known for its annual festival when the skies are filled with brightly coloured canopies. Here is the lowdown on everything you need to know  </p>
    </div>
    
        <div class="card-icon-text">
        <button class="btn-text">READ</button>
        <button class="btn-text">BOOKMARK</button>
        </div>
        

        <div class="card-icons">
            <button class="btn-icon">
                <i class="fa fa-heart fa-lg"></i>
            </button>
            <button class="btn-icon">
                <i class="fa fa-share-alt fa-lg"></i>
            </button>
            <button class="btn-icon">
                <i class="fa fa-comment fa-lg"></i>
            </button>
        </div>    
    </div>
</div>
<!--dismiss card-->
<div class="container">
    <div class="dismiss-card">
      
            <div class="dismiss-card-body">
                <img src="/utilities/balloon.jpg">
                <h2 class="title">Hot Air Balloon Festival</h2>
                <p class="content">Turkey’s most popular hot-air ballooning destination, known for its annual festival when the skies are filled with brightly coloured canopies. Here is the lowdown on everything you need to know  </p>
                <button class="dismiss">Dismiss x</button>
            </div>
        <div class="card-icons">
            <button class="btn-icon">
                <i class="fa fa-heart fa-lg"></i>
            </button>
            <button class="btn-icon">
                <i class="fa fa-share-alt fa-lg"></i>
            </button>
            <button class="btn-icon">
                <i class="fa fa-comment fa-lg"></i>
            </button>
        </div>    

    </div>

</div>


<!--text overlay card-->
<div class="container">
<div class="text-overlay">
    <div class="card-body">

        <img src="/utilities/balloon.jpg">
        <h2 class="title">Hot Air Balloon Festival</h2>
        <p class="date">june,2021</p>
        <p class="content">Turkey’s most popular hot-air ballooning destination, known for its annual festival when the skies are filled with brightly coloured canopies. Here is the lowdown on everything you need to know  </p>
    </div>
    <div class="card-icons">
        <button class="btn-icon">
            <i class="fa fa-heart fa-lg"></i>
        </button>
        <button class="btn-icon">
            <i class="fa fa-share-alt fa-lg"></i>
        </button>
        <button class="btn-icon">
            <i class="fa fa-comment fa-lg"></i>
        </button>
    </div>  
</div>
</div>
<!--shadow card-->
<div class="shadow-container">
    <div class="shadow-card">
        <div class="card-body">

            <img src="/utilities/balloon.jpg">
            <p class="content">Turkey’s most popular hot-air ballooning destination, known for its annual festival when the skies are filled with brightly coloured canopies. Here is the lowdown on everything you need to know  </p>
        </div>
        <div class="card-icons">
        <button class="btn-icon">
            <i class="fa fa-heart fa-lg"></i>
        </button>
        <button class="btn-icon">
            <i class="fa fa-share-alt fa-lg"></i>
        </button>
        <button class="btn-icon">
            <i class="fa fa-comment fa-lg"></i>
        </button>
    </div>  
    </div>
</div>
<!--horizantal card-->
<div class="horizantal-card-container">
<div class="horizantal-card">
   <div class="horizantal-image">
       <img src= "/utilities/balloon.jpg">
   </div>
<div class="horizantal-content">
    <h2>Hot Air Balloon Festival</h2>
    <p>Turkey’s most popular hot-air ballooning destination, known for its annual festival when the skies are filled with brightly coloured canopies. Here is the lowdown on everything you need to know</p>
    <button class="btn-text">READ</button>
        <button class="btn-text">BOOKMARK</button>

</div> 

</div>
</div>














</body>
</html>