.input-container{
 
    max-width: 300px;
    margin: auto;
    margin-top: 10vh;


}
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  :root{
    --primary-color:rgb(146, 94, 146);
    

    --grey-color:
    #E5E7EB;
    --heading-color:#6B7280;
}
.active-link{
    font-weight:bolder;
    font-size: x-large;
}
.blog-link{
    
        color:var(--primary-color);
        max-width: 0%;
        box-sizing:border-box;
        border:1px solid var(--primary-color);
        padding:0.5rem 1rem;
        border-radius: 2rem;;
        text-decoration: none; 
     
     
}
.container{
    padding-left: 1rem;
    padding-right: 1rem;
}
.container-centre{
    max-width: 600px;;
    margin:auto;
}
.blog-header{
    text-align: center;
    font-size:xx-large;
    padding-top: 3rem;
}
 .date{
    text-align: center;
    font-size: medium;
    padding-top: 0rem;
    margin-top: 0rem;

}
.header{
    text-align:center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: var(--header-color);
    font-size:xx-large;
}
.image{
    max-width:80%;
    width:550px;
    display: block;
    margin: auto;
    padding-top: 2rem;
    padding-bottom: 1rem;
}
.link-primary{
    text-decoration: none;
    padding:0.5rem 1rem 0.5rem 1rem;
    color:white;
    background-color:var(--primary-color);
    border-radius: 0.5rem;
    width: 1800px;
    
}

.link-secondary{
    text-decoration:none;
    border-radius: 0.5rem;
    color:var(--primary-color);
    padding:0.5rem 1rem 0.5rem 1rem;
    border: 1px solid var(--primary-color);
    width:max-content;
}
hr{
    margin: 2rem 0rem;
}

.non-bullet{
    list-style: none;
}
.inline{
    display: inline;
}
.margin{
    margin:1rem;
    text-decoration: none;
    color: white;
    font-size: large;
}
.brand{
    font-size: x-large;
    font-weight: bold;
}
.navigation{
    background-color:var(--primary-color);
    color: white;
    padding: 1rem;
    border-bottom-left-radius: 1rem;
    margin: auto;
}
  .nav-links{
    text-decoration: none;
    color: white;

  }  

.nav-right{
    text-align: right;
}
.navigation-container{
    background-color:var(--primary-color) ;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    padding:1rem;
}

.footer{
    background-color:var(--primary-color);
    text-align: center;
    padding:2rem 1rem;
    color:white;
    border-top-right-radius: 1rem;
border:2rem 2rem;

}
.text{
    padding-bottom: 1.5rem;
}
.para{
    display: block;
    margin-block-start: 1rem;
    margin-block-end: 1rem;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-bottom: 1.5rem;
}
.body{
    background-color: black;
    color:white;
}
.link{
   color:white;
   box-sizing:border-box;
   border:1px solid var(--primary-color);
   max-width: 85%;
   border-radius: 2rem;
   padding:0.5rem 1rem;
   text-decoration: none;  
   background-color: var(--primary-color);

}
.footer-header{
    font-size: x-large;
    font-weight: bolder;
    
}
.git{
    text-decoration: none;
    color: white;
}
.social-links{
    text-align: center;
    
    padding:1rem;
box-sizing: border-box;

    font-weight: x-large;
    font-size: bold;
    
}
.footer ul{
    padding-inline-start: 0px;

}

.weight{
    font-size: xxx-large;
}
.body1{
    margin: 0px auto;
    max-width: 95%;
}
.grid{
    display: grid;
}
.sidebar{
    grid-column: 1/2;
    grid-row: 2/5;
}
.sidebar a{
    text-decoration: none;
    color: black;
    font-size: 22px;
}

.main{
    grid-column: 2/4;
    grid-row: 2/6;
    padding: 20px;
}
  
 
 
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
 
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
  }
  
 
  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  
  .container input:checked ~ .checkmark {
    background-color: #2196F3;
  }
  
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  .container input:checked ~ .checkmark:after {
    display: block;
  }

  .container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: #3e8e41;
  }

  input[type=text]{
      padding: 15px;
      width: 200px;
      height: 10px;
      display: block;
      margin: 10px 0;
      border:1px solid lightblue;
      border-radius: 10px;
      box-shadow: 0 0 15px 4px rgba(0,0,0,0.06);
  }
  input[type=password]{
    width: 200px;
    height: 10px;
    padding: 10px;
    display: block;
    margin: 10px 0;
    border:1px solid lightblue;
    border-radius: 10px;
    box-shadow: 0 0 15px 4px rgba(0,0,0,0.06);

  }


  input[type=password]:after{
    padding: 10px;
    display: block;
    margin: 10px 0;
    border:1px solid lightblue;
    border-radius: 10px;
    box-shadow: 0 0 15px 4px rgba(0,0,0,0.06);
    transition: border-color 0.5s ease-out;
  }
  input:optional {
    border-color: gray;
  }
  input:required:valid {
    border-color: green;
  }
  input:invalid {
    border-color: red;
  }
  .heading-content{
    text-align: center;
}
.para-content{
    text-align: center;
    font-size: 20px;
    max-width: 800px;
    margin: auto;
    margin-top: 4vh;
    margin-bottom: 4vh;
}

iframe{
  width: 500px;
  height: 350px;
  margin: auto;
  display: block;
}
 














