<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="input.css" rel="stylesheet"/>
</head>
<body>

<div class="input-container">
<label for="date">Start date</label>
<input type="date" id="date" placeholder="dd:mm:yyyy"></input>
</div>

<div class="input-container">
    <label class="container">One
        <input type="checkbox" checked="checked">
        <span class="checkmark"></span>
      </label>
      
      <label class="container">Two
        <input type="checkbox">
        <span class="checkmark"></span>
      </label>
      
      <label class="container">Three
        <input type="checkbox">
        <span class="checkmark"></span>
      </label>
      
      <label class="container">Four
        <input type="checkbox">
        <span class="checkmark"></span>
      </label>
</div>

<div clas="input-container">
    <div class="dropdown">
        <button class="dropbtn">Dropdown</button>
        <div class="dropdown-content">
        <a href="#">Link 1</a>
        <a href="#">Link 2</a>
        <a href="#">Link 3</a>
        </div>
      </div> 

</div>

<div class="input-container" action="#">
<input type="text" placeholder="Name"/>
<input type="text" placeholder="e-mail"/>
<input type="password" placeholder="password" required/>
<input type="password" placeholder="confirm-password" required/>

</div>
</body>
</html>